{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<meta name="description" content="Graphic Design and Website Development in India. Graphic Design, Logo, Cards, Templates, Web Design, Cards, Portfolio, Blog, E Commerce Website | Codezyners.">
		<meta charset="UTF-8" http-equiv="encoding">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="index,follow">
		<meta name="keywords" content="Code, Codezyners, Graphic, Design, Website">
		<title> {% block title %}{% endblock title %} | Codezyners is a Graphic Design and Website Development Firm in India. Graphic Design, Logo, Cards, Templates, Web Design, Cards, Portfolio, Blog, E Commerce Website - Codezyners.</title>

		<!-- Icon in Browser -->
		<link rel="icon" href="{% static 'image/index/initial.png' %}">

		<!-- --------------------------------------------------------------------- Custom CSS --------------------------------------------------------------------- -->
		<!-- Custon CSS -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}" media="all">
		<link rel="stylesheet" href="{% static 'css/navbar.css' %}" media="all">

		<!-- Fontawesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

		<!-- International Telephone CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.15/css/intlTelInput.css" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.15/js/intlTelInput.min.js" referrerpolicy="no-referrer"></script>
	</head>

	<body>

		{% url "index" as index %}
		{% url "services" as services %}
		{% url "about" as about %}
		{% url "projects" as projects %}
		{% url "contact" as contact %}

		<header class="primary-header flex-center">
			<div class="container">
				<div class="navbar-wrapper flex-between">
					<a href="{% url 'index' %}" class="logo">
						<img src="{% static 'image/index/initial.png' %}" alt="Codezyners Logo">
						<h4 class="text-uppercase">codezyners</h4>
					</a>
					<button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
						<img class="icon-ham" src="{% static 'image/nav-ham.svg' %}" width="30" height="30" alt="" aria-hidden="true">
						<img class="icon-close" src="{% static 'image/nav-close.svg' %}" width="30" height="30" alt="" aria-hidden="true">
						<span class="visually-hidden">Menu</span>
					</button>
					<nav class="primary-navigation flex-center" id="primary-navigation">
						<ul aria-label="Primary" role="list" class="nav-list flex-center">
							<li class="{% if request.path == index %} active {% endif %}">
								<a href="{% url 'index' %}">Home</a>
							</li>
							<li class="{% if request.path == about %} active {% endif %}">
								<a href="#about">About</a>
							</li>
							<li class="{% if request.path == services %} active {% endif %}">
								<a href="#services">Services</a>
							</li>
							<li class="{% if request.path == projects %} active {% endif %}">
								<a href="#projects">Projects</a>
							</li>
							<li class="{% if request.path == contact %} active {% endif %}">
								<a href="#contact">Contact</a>
							</li>
						</ul>
					</nav>
					<button class="button btn-hide">Get Started</button>
				</div>
			</div>
		</header>

		<div class="h-100">
			{% block content %}
			{% endblock content %}
		</div>

		<!-- Footer -->
		<footer>
			<!-- Copyright Text -->
			<div class="copyright">
				<h5>&copy; Copyright 2022 - Codezyners</h5>
			</div>

			<!-- Modal Term and Condition-->
			<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-dialog-centered " role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Terms & Conditions</h5>
							<button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body terms">
							<div class="conditions">
								<p>
									1. After agreeing to the Quotation, the Client has to pay 30% - 50% of the Total Price in Advance, and the remaining will be paid when the work is done.
									<br><br>
									2. After the website is live, the Client has to pay the remaining amount within 3 Days.
									<br><br>
									3. If the Remaining Amount is not paid by the Client within 15 Days, the Website Will Be shut down.
									<br><br>
									4. If the Client wasn't able to pay then Codezyners and Team can Apply a Penalty of 10% of Entire Amount per Day after 15 Days.
									<br><br>
									5. If the client wants to cancel, for full refunds it should be canceled within 3 days. After 3 Days, 70% of the amount will be refunded.
									<br><br>
									6. Client Have to purchase Payment Gateway Integrations when or if required.
								</p>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- Custom JS -->
		<script src="{% static 'js/navbar.js' %}"></script>
		<script src="{% static 'js/phone.js' %}"></script>
		<script src="{% static 'js/typewriter.js' %}"></script>
	</body>

</html>
