.footer {
	flex-direction: column;
	background-color: crimson;
}

.footerSection {
	background-color: cadetblue;
}

.footerCard {
	background-color: darkgray;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 20vh;
}

.icons a {
	height: 1rem;
	width: 1rem;
	color: #343a40;
}

/* .contact {
	background-color: var(--dark-clr);
	width: 100%;
	min-height: 70vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footerSection {
	width: 1500px;
	max-width: 100%;
	min-height: 60vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin: 50px auto;
	gap: 1rem;
}

.footerCard {
	background-color: #eceeee;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex: 1 0 300px;
	padding: 1rem;
	border-radius: 10px;
	align-self: normal to child;
	transition: all 300ms ease-in-out;
	gap: 1rem;
}

.social,
.footerAbout,
.contactForm {
	padding: 1rem;
	width: 100%;
	height: 27rem;
}

.footerCard:nth-child(1),
.social {
	max-width: 320px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.socialHeader h5 {
	text-transform: uppercase;
	color: var(--secondary-clr);
	font-size: 1.75rem;
	margin-top: 1.5rem;
}

.socialLinks {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialLinks li {
	margin: .5rem;
	transition: all 200ms ease-in-out;
}

.socialLinks li a {
	color: var(--secondary-clr);
	font-size: 2rem;
}

.socialLinks li:hover {
	transform: scale(1.3)
}

.termBtn {
	color: var(--secondary-clr);
	font-size: 1.15rem;
	font-weight: 600;
	padding: .75rem 1rem;
	border: 0;
	border-radius: 5px;
	margin-top: 4rem;
	background-color: var(--primary-clr);
	transition: all 200ms ease-in-out;
}

.termBtn h6 {
	margin: 1px;
}

.termBtn:hover {
	color: var(--dark-clr);
	background-color: var(--secondary-clr);
	transform: scale(1.1);
}

.footerCard:nth-child(2),
.footerAbout {
	max-width: 320px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footerAbout h5 {
	margin: .75rem 0;
	text-align: center;
	text-transform: uppercase;
	color: var(--secondary-clr);
	font-size: 1.85rem;
}

.footerAbout li {
	width: 100%;
	text-align: center;
	margin-bottom: .75rem;
	transition: all 300ms ease-out;
}

.footerAbout li a {
	color: var(--secondary-clr);
	font-size: 1.15rem;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0 10px;
}

.footerAbout li:hover {
	font-weight: 700;
	transform: scale(1.1);
}

.social,
.footerAbout,
.contactForm {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 25rem;
}

.contactForm {
	flex-direction: column;
}

.contactForm h5 {
	width: 100%;
	text-transform: uppercase;
	color: var(--secondary-clr);
	font-size: 1.5rem;
}

.contactForm form {
	min-height: 20rem;
	padding: 1rem;
}

.contactField label {
	font-size: 1rem;
	color: var(--secondary-clr);
}

.contactField {
	max-width: 100%;
	margin-bottom: .75rem;
}

.contactField span {
	color: var(--dark-clr);
}

#valid-msg,
#error-msg {
	font-size: 1rem;
	font-weight: 600;
	font-family: var(--body-font);
}

#error-msg {
	color: #da1717;
}

#valid-msg {
	color: #24da24;
}

.hide {
	color: white;
	display: none;
}

.copyright {
	border-top: 2px solid crimson;
	min-height: 5rem;
	color: var(--secondary-clr);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyright h5 {
	font-size: 1.25rem;
}

@media screen and (max-width:991px) {

	.footerCard:nth-child(1),
	.social,
	.footerCard:nth-child(2),
	.footerAbout {
		min-width: 320px;
	}
}

@media screen and (max-width:768px) {
	.contactForm {
		min-height: 35rem;
	}
}

@media screen and (max-width:550px) {

	.copyright h5 {
		font-size: 1rem;
	}

	.footerCard {
		padding: .5rem;
	}
}

@media screen and (max-width:375px) {
	.contactForm h5 {
		font-size: 1.25rem;
	}

	.contactForm form {
		padding: 1rem 0;
	}
} */