.ourWork {
    transition: 300ms;
    padding-top: 5rem;
}

.ourWorkHeader {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.ourWorkHeader li {
    list-style-type: none;
    cursor: pointer;
}

.ourWorkHeader li a {
    background-color: transparent;
    border: 0;
    border: 2px solid var(--primary-clr);
    border-radius: 5px;
    font-weight: 600;
    color: var(--hover-clr);
    padding: .4rem 1.3rem;
    transition: all 300ms ease-in-out;
}

.ourWorkHeader li a:hover {
    background-color: var(--hover-clr);
    border: 2px solid var(--hover-clr);
    color: var(--secondary-clr);
    transform: scale(1.07);
}

.ourWorkSection {
    width: 1500px;
    max-width: 100%;
    margin: 1rem auto;
    columns: 4;
    column-gap: .75rem;
    padding: 1rem;
}

.ourWorkImg {
    width: 100%;
    margin: 0 0 .75rem;
    padding: 10px;
    overflow: hidden;
    break-inside: avoid;
    cursor: pointer;
    transition: all 300ms;
}

.ourWorkImg:hover {
    transform: scale(1.05);
}

.ourWorkImg img {
    display: block;
    border: 2px solid var(--shadow);
    max-width: 100%;
}

.pagination {
    min-height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.pagination .next,
.pagination .last {
    margin: 0 .75rem;
}

@media (max-width:991px) {
    .ourWorkSection {
        columns: 2;
        box-sizing: border-box;
    }
}

@media (max-width:480px) {
    .ourWorkSection {
        columns: 1;
    }
}