.review-form {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewFormSection {
    min-height: 60vh;
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.reviewImg {
    min-height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewImg img {
    max-width: 100%;
    min-width: 90%;
}

.reviewForm {
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviewForm h1 {
    text-transform: uppercase;
    font-size: 2rem;
}

form {
    max-width: 700px;
    width: 100%;
    padding: 2rem;
}

/* Tablet View */
@media screen and (max-width : 1099px) {
    .reviewForm h1 {
        font-size: 1.75rem;
        padding: 0 2rem;
    }
}

/* iPad */
@media screen and (max-width : 991px) {
    .reviewForm h1 {
        font-size: 1.75rem;
    }

    .reviewFormSection {
        gap: 1rem;
        flex-direction: column;
        padding-top: 3rem;
    }

    .reviewImg {
        padding: 2rem 0;
        min-height: 40vh;
    }

    .reviewImg img {
        max-width: 80%;
        min-width: 70%;
    }
}

/* Mobile View */
@media screen and (max-width : 768px) {
    .reviewForm h1 {
        font-size: 1.5rem;
    }

    .review-form,
    form {
        padding: 1.5rem;
    }

    .reviewImg img {
        max-width: 90%;
        min-width: 80%;
    }
}

@media screen and (max-width : 499px) {
    .reviewForm h1 {
        font-size: 1.35rem;
    }

    .review-form,
    form {
        padding: .75rem;
    }

    .reviewImg img {
        max-width: 100%;
        min-width: 90%;
    }
}