header {
	background-color: var(--clr-light);
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 6rem;
	min-width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	padding: 1rem 0;
	transition: 0.5s ease-out;
}

/* Scroll Tracker  */
.scroll-tracker {
	position: fixed;
	width: 100%;
	height: 4px;
	inset: 6rem 0 auto;
	z-index: 999;
	transform-origin: left;
	background-color: var(--clr-accent);

}

.navbar-wrapper a {
	display: flex;
	align-items: center;
	gap: 1rem;
	text-decoration: none;
}

.navbar-wrapper img {
	max-width: 55px;
}

.navbar-wrapper h2 {
	padding-top: .5rem;
	font-weight: var(--fw-700);
	font-size: var(--fs-xxl);
}

.mobile-nav-toggle {
	display: none;
	cursor: pointer;
	background: transparent;
	border: 0;
	padding: .5rem;
}

.mobile-nav-toggle .icon-close {
	display: none;
}

.primary-navigation ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.75rem;
	margin-top: 1rem;
	width: 100%;
}

.primary-navigation li a {
	font-size: 1.2rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-decoration: none;
	color: var(--clr-primary);
	font-weight: var(--fw-500);
	transition: all 250ms ease-in-out;
}

.primary-navigation li.active a,
.primary-navigation li a:hover,
.primary-navigation li a:focus {
	color: var(--clr-accent);
}

.primary-navigation li a::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -10%;
	width: 0%;
	height: 3px;
	transition: all 300ms;
	transform-origin: 50% 50%;
	transform: translateX(-50) scaleX(0);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: translateX(-50) scaleX(0);
}

.primary-navigation li a::after {
	background-color: var(--clr-accent);
}

.primary-navigation li.active a {
	border-bottom: 3px solid var(--clr-accent);
}

@media screen and (max-width:1199px) {
	.navbar-wrapper h2 {
		font-size: var(--fs-xl);
	}
}

@media screen and (max-width:992px) {
	.navbar-wrapper img {
		max-width: 45px;
	}

	.navbar-wrapper h2 {
		display: none;
	}

	.primary-navigation {
		display: none;
		position: absolute;
		padding: 1rem 0;
		inset: 7rem 5% auto;
		text-align: center;
		background-color: var(--clr-light);
		border-radius: 10px;
		box-shadow: 0 5px .75em rgb(0, 0, 0, 0.35);
	}

	.btn-hide {
		display: none;
	}

	.primary-navigation ul {
		padding-top: 0.5rem;
		display: grid;
		justify-content: center;
		gap: 2rem;
		text-align: center;
	}

	.primary-navigation[data-visible] {
		display: block;
	}

	.mobile-nav-toggle {
		display: block;
		cursor: pointer;
		background: transparent;
		border: 0;
		padding: .5rem;
	}

	.mobile-nav-toggle .icon-close {
		display: none;
	}
}


@media screen and (max-width:768px) {
	.primary-navigation li a {
		font-size: 1rem;
	}
}

@media screen and (max-width:457px) {}

@media screen and (max-width:349px) {}