{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}

<main>
	<section class="home mh-100 flex-center py-5" id="home">
		<div class="container">
			<div class="card mb-3 bgclr-body border-0">
				<div class="row g-3 flex-direction hidden">
					<div class="col-md">
						<img src="{% static 'image/index/webdev.png' %}" class="img-fluid" alt="Codezyners | Graphics Design & Web Development">
					</div>
					<div class="col-md flex-center">
						<div class="card-body">
							<h4 class="card-title text-uppercase">Explore the creative world of graphics design and web development with <span class="clr-accent fw-semibold">Codezyners</span></h4>
							<p class="card-text text-capitalize mb-4 fw-regular">Let's discuss your goals, determine success and identify the problem to solve.</p>
							<a href="#contact" class="button btn-sm">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- REMOVE ABOUT US AND ADD WHAT WE DO -->
	<section class="about mh-75 flex-center my-2" id="about">
		<div class="container">
			<div class="card mb-3 bgclr-body border-0">
				<div class="row g-3 flex-direction flex-reverse hidden">
					<div class="col-lg-6">
						<img src="{% static 'image/index/designer.png' %}" class="img-fluid" alt="Codezyners | Graphics Design & Web Development">
					</div>
					<div class="col-lg-6 flex-center">
						<div class="card-body text-capitalize">
							<div class="card-header border-0 bg-transparent text-center my-5">
								<h2 class="text-uppercase fw-bold text-center clr-accent">About Us</h2>
							</div>
							<h6 class="card-title text-uppercase">
								<span class="clr-accent fw-semibold">Codezyners</span> is an Start-up Firm based in Mumbai, India.
								We offers services in Graphic Design and Web Development.
							</h6>
							<br>
							<p class="card-text fw-400">
								We offer Graphic Design services such as Designing Logos, Business Cards,
								<br> Visiting Cards, Invitation Cards, Brochures, Flyers, Banners, Posters, Book Covers,
								<br> Resume Design, and Social Media Posts.
								<br>
								We also offer Web Development for Personal & Business Portfolio, Blog,
								<br> E-Commerce, Booking Websites, MLM Websites, and WordPress Websites.
								<br> We also can Re-Design your Website with Old Design.
							</p>
							<br>
							<a href="#reviews" class="button btn-sm">Read More <i class="fa-solid fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- What Do We Help With  -->
	<section class="help mh-100 flex-center my-4">
		<div class="container">
			<div class="card-title text-center text-uppercase">
				<h2 class="title clr-accent fw-bold">What Do We Help With</h2>
				<h6 class="card-subtitle">Something</h6>
			</div>
		</div>
	</section>

	<!-- Our Services -->
	<section class="services mh-100 flex-center py-5" id="services">
		<div class="container">
			<div class="card-header text-uppercase text-center bgclr-body w-100 mb-5">
				<h2 class="fw-bold clr-accent">Our Services</h2>
				<h6 class="clr-primary">Our Speciality</h6>
			</div>
			<div class="row g-3 hidden">
				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<img class="img-fluid" src="{% static 'image/services/graphic-design.png' %}" alt="Graphic Design">
						<div class="card-text">
							<h5 class="text-center text-uppercase fw-semibold clr-accent">Graphics Design</h5>
							<div class="flex-center">
								<ul class="clr-primary">
									<li>Logo Design</li>
									<li>Flyer Design</li>
									<li>Business Card</li>
									<li>Banner Design</li>
									<li>Resume Design</li>
									<li>Brochure Design</li>
									<li>Social Media Post</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<img class="img-fluid" src="{% static 'image/services/web-design.png' %}" alt="Graphic Design">
						<div class="card-text">
							<h5 class="text-center text-uppercase fw-semibold clr-accent">Website Design</h5>
							<div class="flex-center">
								<ul class="clr-primary">
									<li>Website Design</li>
									<li>Website Re-Design</li>
									<li>Responsive Design</li>
									<li>Website Templates</li>
									<li>Web Ad Design</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<img class="img-fluid" src="{% static 'image/services/web-dev.png' %}" alt="Graphic Design">
						<div class="card-text">
							<h5 class="text-center text-uppercase fw-semibold clr-accent">Web Development</h5>
							<div class="flex-center">
								<ul class="clr-primary">
									<li>Blog Website</li>
									<li>Booking System</li>
									<li>Business Website</li>
									<li>Portfolio Website</li>
									<li>WordPress Websites</li>
									<li>E-Commerce Website</li>
									<li>Affiliate Marketing</li>
									<li>Multi-Level Marketing</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Projects -->
	<section class="projects mh-50 flex-center py-5" id="projects">
		<div class="container hidden">
			<div class="text-uppercase card-header text-center w-100 mb-5">
				<h2 class="fw-bold clr-accent">Projects</h2>
				<h6 class="clr-primary">Our Work</h6>
			</div>
			<!-- SWIPER JS -->
			<div class="section-border">
				<div class="project-container swiper">
					<div class="swiper-wrapper project-content text-center px-3">
						{% for project in work|slice:"6" %}
						<div class="card project-card swiper-slide">
							<img class="card-img-top img-fluid" src="{{ project.projectImage.url }}" alt="{{ project.project_name }}">
							<div class="card-footer bg-transparent project-detail">
								<p class="h5 clr-accent">{{ project.project_name }}</p>
							</div>
						</div>
						{% endfor %}
					</div>
					<!-- Swiper Arrow -->
					<div class="swiper-button-next">
						<i class="fa-solid fa-angle-right"></i>
					</div>
					<div class="swiper-button-prev">
						<i class="fa-solid fa-angle-left"></i></i>
					</div>
				</div>
			</div>
			<div class="mt-3 text-center">
				<a href="{% url 'projects' %}" class="button btn-sm">View More <i class="fa-solid fa-arrow-right"></i></a>
			</div>
		</div>
	</section>

	<!-- Reviews -->
	<section class="reviews mh-75 flex-center py-5" id="reviews">
		<div class="container hidden">
			<div class="text-uppercase text-center card-header bg-transparent w-100 mb-5">
				<h2 class="fw-bold clr-accent">Testimonials</h2>
				<h6 class="clr-primary">What Our Clients Say About Us</h6>
			</div>

			<div class="section-border">
				<div class="review-container swiper">
					<div class="swiper-wrapper review-content text-center">
						{% for review in reviews|slice:":6" %}
						<div class="card review-card swiper-slide h-100 text-center">
							<div class="card-img">
								<img class="img-fluid card-img-top" src="{% static 'image/index/user.png' %}" alt="User's Testimonial Review">
							</div>
							<div class="card-body text-capitalize p-3">
								<h6 class="text-uppercase fw-bold clr-accent">{{ review.client_name }}</h6>
								<span class="text-muted">{{ review.review_date }}</span>
								<p class="clr-primary my-2">
									<i class="fa-solid fa-ditto"></i>
									{{ review.client_review }}
									<i class="fa-solid fa-ditto"></i>
								</p>
							</div>
						</div>
						{% endfor %}
					</div>
					<!-- Swiper Arrow -->
					<div class="swiper-button-next">
						<i class="fa-solid fa-angle-right"></i>
					</div>
					<div class="swiper-button-prev">
						<i class="fa-solid fa-angle-left"></i></i>
					</div>
				</div>
			</div>
			<div class="w-100 text-center mt-2">
				<a href="{% url 'reviews' %}" class="button btn-sm">Read More <i class="fa-solid fa-arrow-right"></i></a>
			</div>
		</div>
	</section>

	<!-- Contact -->
	<section class="contact mh-75 flex-center py-5" id="contact">
		<div class="container hidden">
			<div class="card-header bg-transparent w-100 mb-5">
				<h2 class="text-uppercase fw-bold text-center clr-accent">Contact Us</h2>
			</div>
			<div class="row g-3">
				<div class="col-md-5">
					<!-- Work Online -->
					<div class="work mb-2">
						<div class="card g-3">
							<div class="card-header bg-transparent">
								<h5 class=" clr-primary mt-2">Work With Us</h4>
							</div>
							<div class="card-body g-3">
								<div class="row">
									<div class="w-100 text-center">
										<a class="clr-light m-2" href="https://www.fiverr.com/gufran_ansari10?up_rollout=true" target="_blank">
											<img class="img-fluid" src="{% static 'image/social/fiverr.png' %}" alt="Codezyners Fiverr">
										</a>
										<a class="clr-light m-2" href="https://www.upwork.com/freelancers/~0196fec35b87b99045" target="_blank">
											<img class="img-fluid" src="{% static 'image/social/upwork.png' %}" alt="Codezyners Upwork">
										</a>
										<a class="clr-light m-2" href="https://dribbble.com/codezyners" target="_blank">
											<img class="img-fluid" src="{% static 'image/social/dribble.png' %}" alt="Codezyners Dribble">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Social Media -->
					<div class="social mb-2">
						<div class="card g-3">
							<div class="card-header bg-transparent">
								<h5 class=" clr-primary mt-2">Connect With Us</h4>
							</div>
							<div class="card-body g-3">
								<div class="row">
									<div class="w-100 text-center">
										<a class="clr-light m-2" href="mailto:codezyners@gmail.com" target="_blank">
											<img class="img-fluid" src="{% static 'image/social/gmail.png' %}" alt="Codezyners Gmail">
										</a>
										<a class="clr-light m-2" href="https://www.facebook.com/codezynerss" target="_blank">
											<img class="img-fluid" src="{% static 'image/social/face-book.png' %}" alt="Codezyners Facebook">
										</a>
										<a class="clr-light m-2" href="https://instagram.com/codezyners" target="_blank">
											<img class="img-fluid" src="{% static 'image/social/insta.png' %}" alt="Codezyners Instagram">
										</a>
										<a class="clr-light m-2" href="https://www.github.com/codezyners" target="_blank">
											<img class="img-fluid" src="{% static 'image/social/github.png' %}" alt="Codezyners Github">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Social Media -->
					<div class="social mt-2">
						<div class="card g-3">
							<div class="card-header bg-transparent">
								<h5 class=" clr-primary mt-2">Connect With Us</h4>
							</div>
							<div class="card-body g-3">
								<div class="row">
									<div class="w-100 text-center">
										<a class="clr-light m-2" href="mailto:codezyners@gmail.com" target="_blank">
											<img class="img-fluid" src="{% static 'image/social/gmail.png' %}" alt="Codezyners Gmail">
										</a>
										<a class="clr-light m-2" href="https://www.facebook.com/codezynerss" target="_blank">
											<img class="img-fluid" src="{% static 'image/social/face-book.png' %}" alt="Codezyners Facebook">
										</a>
										<a class="clr-light m-2" href="https://instagram.com/codezyners" target="_blank">
											<img class="img-fluid" src="{% static 'image/social/insta.png' %}" alt="Codezyners Instagram">
										</a>
										<a class="clr-light m-2" href="https://www.github.com/codezyners" target="_blank">
											<img class="img-fluid" src="{% static 'image/social/github.png' %}" alt="Codezyners Github">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Contact Form -->
				<div class="col-md-7">
					<div class="card">
						<div class="card-header bg-transparent">
							<h5 class=" clr-primary mt-2">Leave Us A Message</h4>
						</div>
						<div class="card-body">
							<form action="" method="post">
								{% csrf_token %}
								<div class="row">
									<div class="form-group col-md-6">
										<label for="name">Full Name</label>
										<input type="text" name="name" class="form-control" placeholder="Full Name" required>
									</div>
									<div class="form-group col-md-6">
										<label for="email">Email</label>
										<input type="email" name="email" class="form-control" placeholder="Email Address" required>
									</div>
								</div>
								<div class="row mt-3">
									<div class="form-group col-md-6">
										<label for="phone">Contact <small class="text-white-50">(Optional)</small></label> <br>
										<input type="tel" class="form-control" name=phone placeholder="Phone Number" id="phone">
										<div class="msg">
											<span id="valid-msg" class="hide">Valid</span>
											<span id="error-msg" class="hide">Error</span>
										</div>
									</div>
									<div class="form-group col-md-6 my-1">
										<label for="comapany">Comapany/Organisation</label>
										<input type="text" name="comapany" class="form-control" placeholder="Comapany/Organisation">
									</div>
								</div>
								<div class="form-group mt-2">
									<label for="message">Your Message</label>
									<textarea name="message" class="form-control" placeholder="Your Message" cols="30" rows="3" required></textarea>
								</div>
								<div class="mt-2 float-end">
									<input type="submit" class="button btn-sm" value="Send Message">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>


{% endblock content %}
