:root {
	/* Font Family */
	--ff: 'Ubuntu', sans-serif;

	/* Font Size */
	--fs-codezyners: 2.5rem;
	--fs-xxl: 2rem;
	--fs-xl: 1.875rem;
	--fs-lg: 1.625rem;
	--fs-md: 1.375rem;
	--fs-sm: 1rem;
	--fs-xs: 1rem;

	/* Font Weight */
	--fw-400: 400;
	--fw-500: 500;
	--fw-700: 700;

	/* Colors */
	--clr-body: #f5f5f5;
	--clr-primary: #33466d;
	--clr-accent: #bf0c64;
	--clr-hover: #921e3f;
	--clr-light: #ffffff;
	--clr-text: #072028;
}

/* Universal Tag */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}



/* ------------------------- TAGS ------------------------- */


body,
main,
section {
	min-width: 100%;
	background-color: var(--clr-body);
	font-family: var(--ff);
}

section h2 {
	font-size: 2rem;
}

section h4 {
	font-size: 1.625rem;
}

section h5 {
	font-size: 1.375rem;
}

section h6 {
	font-size: 1.25rem;
}

footer {
	height: 80px;
}


/* ------------------------- Font Size ------------------------- */
.fs-codezyners {
	font-size: var(--fs-codezyners);
}

.fs-xxl {
	font-size: var(--fs-xxl);
}

.fs-xl {
	font-size: var(--fs-xl);
}

.fs-lg {
	font-size: var(--fs-lg);
}

.fs-md {
	font-size: var(--fs-md);
}

.fs-sm {
	font-size: var(--fs-sm);
}

.fs-xs {
	font-size: var(--fs-xs);
}

/* ------------------------- Font Weight ------------------------- */
.fw-400 {
	font-weight: var(--fw-400);
}

.fw-500 {
	font-weight: var(--fw-500);
}

.fw-700 {
	font-weight: var(--fw-700);
}

/* ------------------------- Flex ------------------------- */
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* ------------------------- Color ------------------------- */
.clr-primary {
	color: var(--clr-primary);
}

.clr-text {
	color: var(--clr-text);
}

.clr-accent {
	color: var(--clr-accent);
}

.clr-body {
	color: var(--clr-body);
}

.clr-light {
	color: var(--clr-light);
}

.clr-text {
	color: var(--clr-text);
}

/* ------------------------- Background Color ------------------------- */
.bgclr-primary {
	background-color: var(--clr-primary);
}

.bgclr-hover {
	background-color: var(--clr-hover);
}

.bgclr-accent {
	background-color: var(--clr-accent);
}

.bgclr-body {
	background-color: var(--clr-body);
}

.bgclr-light {
	background-color: var(--clr-light);
}

.bgclr-text {
	background-color: var(--clr-text);
}

/* ------------------------- Min Height ------------------------- */
.mh-100 {
	min-height: 100vh;
}

/* ------------------------- Button ------------------------- */
.button {
	outline: 0;
	border: 0;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	min-width: 5rem;
	color: var(--clr-light);
	transition: all 250ms ease-in-out;
	background-color: var(--clr-accent);
	padding: .75rem 1.25rem;
	font-size: var(--fs-xs);
	font-weight: var(--fw-500);
}

.button:hover,
.button:focus {
	color: var(--clr-body);
	background-color: var(--clr-hover);
}

.flex-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.services .card,
.projects .card {
	transition: all 250ms ease-in-out;
	cursor: pointer;
}

.services .card:hover,
.projects .card:focus,
.services .card:hover,
.projects .card:focus {
	transform: scale(1.025);
}

.client_reviews img,
.reviews img {
	max-width: 10rem;
	margin: 2rem 0;
}

.contact a,
.contact img {
	text-decoration: none;
	transition: all 250ms ease-in-out;
}

.contact img {
	max-width: 2.5rem;
}

.contact a img:hover,
.contact a img:focus {
	transform: scale(1.1);
}

/* ------------------------- Validate Phone Number ------------------------- */
#valid-msg,
#error-msg {
	font-size: 1rem;
	font-weight: 600;
	font-family: var(--body-font);
}

#error-msg {
	color: #da1717;
}

#valid-msg {
	color: #24da24;
}

.hide {
	color: white;
	display: none;
}

.ourWork,
.client_reviews {
	padding: 8rem 0 2rem 0;
}

.ourWork ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.cateogry-btns ul {
	gap: 1rem;
}

footer h5 {
	font-size: 1.375rem;
}

/* ------------------------- Scrolling Animation ------------------------- */
.hidden {
	opacity: 0;
	transition: all 1s ease-in-out;
	filter: blur(5px);
	transform: translateX(-100%);
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}


/* ------------------------- Responsive Media Queries -------------------------  */
@media screen and (max-width:1199px) {
	section h4 {
		font-size: 1.5rem;
	}
}

@media screen and (max-width:992px) {
	.flex-direction {
		flex-direction: column;
	}

	section {
		margin: 5rem 0;
	}

	footer h5,
	section h5 {
		font-size: 1.5rem;
	}

	.button {
		min-width: 9rem;
		padding: .65rem 1rem;
	}

}

@media screen and (max-width:768px) {
	section {
		margin: 3rem 0;
	}

	section h2 {
		font-size: 1.875rem;
	}

	section h4 {
		font-size: 1.375rem;
	}

	footer h5,
	section h5 {
		font-size: 1.2rem;
	}

	.button {
		min-width: 9rem;
		padding: .65rem 1rem;
	}

	footer h5 {
		font-size: 1.25rem;
	}
}

@media screen and (max-width:576px) {
	section {
		margin: 1rem 0;
	}

	section h2 {
		font-size: 1.875rem;
	}

	section h4 {
		font-size: 1.375rem;
	}

	section h5 {
		font-size: 1.2rem;
	}

	section h6 {
		font-size: 1.125rem;
	}

	.button {
		font-size: .9rem;
		padding: .6rem .9rem;
	}

	.cateogry-btns ul {
		gap: .5rem;
	}

	footer h5 {
		font-size: 1.125rem;
	}
}

@media screen and (max-width:399px) {
	section {
		margin: 0;
	}

	section h2 {
		font-size: 1.5rem;
	}

	section h4 {
		font-size: 1.125rem;
	}

	section h5 {
		font-size: 1.125rem;
	}

	footer h5 {
		font-size: 1rem;
	}

	.button {
		font-size: .8rem;
		padding: .6rem .8rem;
	}

	.cateogry-btns ul {
		gap: .25rem;
	}
}