{% extends 'base.html' %}
{% load static %}
{% block title %} Client Review {% endblock title %}
{% block content %}


<section class="reviews">
    <div class="header">
        <h1 class="clientReviewsHeader">Testimonials</h1>
    </div>
    <div class="reviewSection">
        {% for reviews in client_reviews %}
        <div class="card reviewCard">
            <div class="card-header bg-transparent reviewDetail">
                <div class="user-img">
                    <img src="{% static 'image/index/user.png' %}" alt="{{ reviews.client_name }}">
                </div>
                <div class="userDetail">
                    <span>{{ reviews.client_name }}</span>
                    <small>{{ reviews.review_date }}</small>
                </div>
            </div>
            <div class="userReview card-body">
                <p>{{ reviews.client_review }}</p>
            </div>
        </div>
        {% endfor %}
        <div class="buttons">
            <a href="{% url 'addReview' %}" class="btn">Post A Review</a>
        </div>
    </div>
</section>


{% endblock content %}
