{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}

<main class="container">
    <section class="home text-center" id="home">
        <div class="homeSection ">
            <div class="homeImg">
                <img class="img-fluid" src="{% static 'image/index/home.png' %}" alt="Graphic Design | Web Development">
            </div>
            <div class="homeText">
                <h2>Welcome To Codezyners</h2>
                <h5>We are best at
                    <span class="txt-type mx-1" data-wait="3000" data-words='["Graphic Design", "Website Development"]'></span>
                </h5>
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="aboutSection">
            <div class="aboutImg">
                <img class="img-fluid" src="{% static 'image/index/about.png' %}" alt="Graphic Design | Web Development">
            </div>
            <div class="aboutText">
                <h2>About Us</h2>
                <p class="card-text">
                    Codezyners is a Start-up Firm based in Mumbai, India.
                    Codezyners offers services in Graphic Design and Web Development.
                    <br>
                    We offer Graphic Design services for creating and Designing Logos, Business Cards,
                    <br> Visiting Cards, Invitation Cards, Brochures, Flyers, Banners, Posters, Book Covers,
                    <br> Resume Design, and Social Media Posts.
                    <br>
                    We also offer Web Development for Personal & Business Portfolio, Blog,
                    <br> E-Commerce, Booking Websites, MLM Websites, and WordPress Websites.
                    <br> We also can Re-Design your Existing Website with Old Design.
                </p>
            </div>
        </div>
    </section>


    <section class="services" id="services">
        <div class="title">
            <h2>Services</h2>
            <h5>Our Speciality</h5>
        </div>
        <div class="servicesSection">
            <div class="servicesCard">
                <div class="servicesImg">
                    <img src="{% static 'image/services/graphic.png' %}" alt="">
                </div>
                <div class="servicesDetail">
                    <h6>Graphic Design</h6>
                    <div class="list">
                        <li>Logo</li>
                        <li>Flyer</li>
                        <li>Broucher</li>
                        <li>Card Design</li>
                        <li>Print Design</li>
                        <li>Website Design</li>
                        <li>Social Media Posts</li>
                    </div>
                </div>
            </div>
            <div class="servicesCard">
                <div class="servicesImg">
                    <img src="{% static 'image/services/coding.png' %}" alt="">
                </div>
                <div class="servicesDetail">
                    <h6>Web Development</h6>
                    <div class="list">
                        <li>Blog</li>
                        <li>Business</li>
                        <li>Portfolio</li>
                        <li>WordPress</li>
                        <li>E-Commerce</li>
                        <li>MLM Website</li>
                        <li>Booking Website</li>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="projects" id="projects">
        <div class="title">
            <h2>Projects</h2>
            <h5>Our Work</h5>
        </div>
        <div class="projectsSection">
            <div class="projectSection">
                {% for project in work|slice:":3" %}
                <div class="projectsCard">
                    <div class="projectsImg">
                        <img src="{{ project.projectImage.url }}" alt="{{ project.project_name }}">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="buttons viewMore">
                <a href="{% url 'projects' %}" class="btn btn-dark">View More &#10095;</a>
            </div>
        </div>
    </section>

    <!-- Carousel wrapper -->
    <section class="reviews">
        <div class="title mb-5">
            <h2>Testimonials</h2>
            <h5>What our clients say about us</h5>
        </div>
        <!-- Carousel wrapper -->
        <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
            <!-- Inner -->
            <div class="carousel-inner py-4">
                <!-- Single item -->
                <div class="carousel-item active">
                    <div class="container">
                        <div class="reviewCards">
                            <div class="row">
                                {% for review in reviews|slice:":3" %}
                                <div class="col-md-4 p-1">
                                    <img class="rounded-circle shadow-1-strong my-4" src="{% static 'image/index/user.png' %}" alt="avatar" style="width: 150px;" />
                                    <h5>{{ review.client_name }}</h5>
                                    <small>{{ review.review_date }}</small>
                                    <p class="text-muted pt-2">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        {{ review.client_review }}
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="buttons mt-5 ">
                                <a href="{% url 'addReview' %}" class="btn btn-outline-dark">Post A Review</a>
                                <a href="{% url 'reviews' %}" class="btn btn-dark">View More &#10095;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="title">
            <h2>contact us</h2>
        </div>
        <div class="row">

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body icons">
                        <li class="nav-link">
                            <a href="mailto:codezyners@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
                        </li>
                        <li class="nav-link">
                            <a href="https://www.instagram.com/codezyners/" target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="nav-link">
                            <a href="https://www.facebook.com/codezyners/" target="_blank"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="nav-link">
                            <a href="https://www.linkedin.com/in/codezyners/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    <section class="footer" id="footer">
        <div class="footerSection">
            <div class="footerCard">
                <div class="social">
                    <div class="title">
                        <h2>contact us</h2>
                    </div>
                    <div class="socialLinks">
                        <li><a href="mailto:codezyners@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
                        <li> <a href="https://www.instagram.com/codezyners/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/codezyners/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/codezyners/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    </div>
                    <div class="terms Modal buttons">
                        <button type="button" class="termBtn" data-toggle="modal" data-target="#exampleModalLong">
                            <h5>Terms and Condition</h5>
                        </button>
                    </div>
                </div>
            </div>

            <div class="footerCard">
                <div class="contactForm">
                    <h5>Write Us A Message</h5>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6 contactField">
                                <label for="name">Full Name</label>
                                <input type="text" name="name" class="form-control" placeholder="Type Full Name Here" required>
                            </div>
                            <div class="form-group col-md-6 contactField">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" placeholder="Type Email Here" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 contactField">
                                <label for="phone">Contact <small class="text-white-50">(Optional)</small></label> <br>
                                <input type="tel" class="form-control" name=phone placeholder="Type Phone Number" id="phone">
                                <div class="msg">
                                    <span id="valid-msg" class="hide">Valid</span>
                                    <span id="error-msg" class="hide">Error</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6 contactField">
                                <label for="comapany">Your Comapany</label>
                                <input type="text" name="comapany" class="form-control" placeholder="Type Comapany Name">
                            </div>
                        </div>
                        <div class="form-group contactField">
                            <label for="message">Your Message</label>
                            <textarea name="message" class="form-control" placeholder="Your Message" cols="30" rows="3" required></textarea>
                        </div>
                        <div class="buttons otherBtn">
                            <input type="submit" class="btnMessage" value="Send Message">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
     -->
</main>

{% endblock content %}
